@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">COMPUCENTER</h1>
    <p>todo sobre computadoras-impresoras-laptop y más!!! </p>
</div>
<div class="d-flex flex-wrap justify-content-center gap-2">
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/1.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>El Escáner Ricoh – Fujitsu ScanSnap SV600</strong><br> es la herramienta ideal para la digitalización rápida y eficiente de documentos en Bolivia.
            </p>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap IX1600</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap IX100</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/4.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap iX-1400</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/7.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu FI-8250</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/8.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Laptop LATITUDE 3420 DELL Core i7 11va GEN, RAM 16GB, SSD 512GB, 14″</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <br>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/9.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>El Escáner Ricoh – Fujitsu ScanSnap SV600</strong><br> es la herramienta ideal para la digitalización rápida y eficiente de documentos en Bolivia.
            </p>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/10.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap IX1600</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/11.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap IX100</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/12.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap iX-1400</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/13.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu FI-8250</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/14.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Laptop LATITUDE 3420 DELL Core i7 11va GEN, RAM 16GB, SSD 512GB, 14″</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <br>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/1.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>El Escáner Ricoh – Fujitsu ScanSnap SV600</strong><br> es la herramienta ideal para la digitalización rápida y eficiente de documentos en Bolivia.
            </p>
        </div>
    </div>

    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/2.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap IX1600</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/3.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap IX100</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/4.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu ScanSnap iX-1400</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/7.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Escaner Ricoh – Fujitsu FI-8250</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>
    <div class="card" style="width: 10rem;">
        <img class="card-img-top" src="~/images/8.jpg" alt="Card image cap">
        <div class="card-body">
            <p class="card-text text-white fs-7 text-center">
                <strong>Laptop LATITUDE 3420 DELL Core i7 11va GEN, RAM 16GB, SSD 512GB, 14″</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
            </p>
        </div>
    </div>

</div>
 *@
<!-- Sección del banner principal -->
<div class="jumbotron text-center" >
    <h1 class="display-4">MenCon.SRL - Innovación para Todos</h1>
    <p class="lead">Descubre los últimos productos y la tecnología que impulsa tu creatividad.</p>
</div>

<!-- Imagen principal centrada -->
<div class="text-center">
    <img src="~/images/zz.jpg" alt="Imagen principal" class="img-fluid mb-3 w-25">
</div>

<!-- Sección de productos destacados -->
<div class="container mt-5">
    <h3>PRODUCTOS DESTACADOS:</h3>
    <div class="row">
        <div class="col-md-4">

            <img src=~/images/1.jpg alt="Laptop Gaming XYZ" class="img-fluid mb-3" />
            <h2>Escáner de Documentos de Sobremesa </h2>
            <p>Este escáner está diseñado para escanear documentos o libros de gran tamaño y grosor. Se coloca el documento en una superficie plana, y el escáner captura la imagen desde arriba. </p>
            
        </div>

        <div class="col-md-4">
            <img src=~/images/2.jpg alt="Laptop Gaming XYZ" class="img-fluid mb-3" />
            <h2>Escáner de Documentos con Alimentador Automático</h2>
            <p>Este escáner tiene un alimentador automático que permite digitalizar múltiples hojas de forma rápida y eficiente.</p>
            
        </div>
        <div class="col-md-4">
            <img src=~/images/3.jpg alt="Laptop Gaming XYZ" class="img-fluid mb-3" />
            <h2>Escáner Portátil</h2>
            <p>Un escáner compacto y ligero, ideal para llevar a cualquier lugar. Diseñado para escanear documentos de una página, como recibos, tarjetas de visita o documentos de tamaño A4.</p>
            
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <img src=~/images/4.jpg alt="Laptop Gaming XYZ" class="img-fluid mb-3" />
            <h2>Escáner de Documentos con Alimentador Automático</h2>
            <p>Este escáner tiene un alimentador automático para digitalizar documentos en lotes. Su diseño permite escanear documentos de forma rápida y eficiente.</p>
            
        </div>
        <div class="col-md-4">
            <img src=~/images/7.jpg alt="Laptop Gaming XYZ" class="img-fluid mb-3" />
            <h2>Escáner de Alta Resolución de Sobremesa</h2>
            <p>Un escáner de sobremesa con capacidades de alta resolución y funciones avanzadas para capturar imágenes detalladas.</p>
            
        </div>
        <div class="col-md-4">
            <img src=~/images/8.jpg alt="Laptop Gaming XYZ" class="img-fluid mb-3" />
            <h2>Laptop Dell</h2>
            <p>Una laptop Dell de uso general, adecuada para tareas de oficina, navegación por internet, y aplicaciones de productividad. </p>
            
        </div>
    </div>
</div>

<!-- Sección de promociones -->
<div class="bg-dark text-white text-center py-4 mt-5">
    <h3>Ofertas y promociones</h3>
    <p>Superventa de Accesorios - Ahorra hasta un 30% en mouse, auriculares y más.</p>
    <p>Descuento en Laptops - Llévate la Laptop XYZ con un 10% de descuento o 12 meses sin intereses.</p>

    <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="~/images/13.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-danger">OFERTA!!!</h4>

                    <p class="card-text text-white fs-7 text-center">
                        <strong>Escaner Ricoh – Fujitsu FI-8250</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="~/images/11.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-danger">OFERTA!!!</h4>
                    <h5 class="card-title">Escaner Ricoh – Fujitsu ScanSnap IX100</h5>
                    <p class="card-text text-white fs-7 text-center">
                        <strong>Escaner Ricoh – Fujitsu ScanSnap IX100</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="~/images/2.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title text-danger">OFERTA!!!</h4>
                    <h5 class="card-title">Escaner Ricoh – Fujitsu ScanSnap IX1600</h5>
                    <p class="card-text text-white fs-7 text-center">
                        <strong>Escaner Ricoh – Fujitsu ScanSnap IX1600</strong><br> es una solución avanzada para la digitalización de documentos en Bolivia.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Servicios de soporte -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Asistencia Técnica</h3>
            <p>Protege tu dispositivo con nuestro programa de soporte técnico. Asesoría y reparaciones para garantizar que tu equipo funcione como nuevo.</p>
        </div>
        <div class="col-md-6">
            <h3>Consultas y Soporte</h3>
            <p>¿Necesitas ayuda? Consulta nuestras guías en línea o agenda una visita a nuestro centro de servicio.</p>
        </div>
    </div>
</div>

<!-- Testimonios de clientes -->
<div class="container text-center my-5">
    <blockquote class="blockquote">
        <p class="mb-0">"La Laptop Gaming XYZ ha llevado mi experiencia de juego al siguiente nivel. ¡No puedo estar más satisfecho!"</p>
    </blockquote>
</div>



<footer class="bg-light text-dark p-4">
    <div class="container">
        <div class="row">
            <!-- Sección Contacto -->
            <div class="col-md-3">
                <h5 class="fw-bold">Contáctanos</h5>
                <ul class="list-unstyled">
                    <li><i class="bi bi-telephone-fill text-primary"></i> 72175016</li>
                    <li><i class="bi bi-telephone-fill text-primary"></i> 68128576</li>
                    <li><i class="bi bi-envelope-fill text-primary"></i> ventadecomputadoras@upds.com.bo</li>
                    <li><i class="bi bi-geo-alt-fill text-primary"></i>oficina central: Av. Los Pinos – Distrito N°8</li>
                    <li>
                        <i class="bi bi-clock-fill text-primary"></i> Horario de atención:
                        Lunes a Viernes de 8:00 am a 18:00 pm<br>Sábado de 08:00 am a 12:30 pm
                    </li>
                </ul>
            </div>

            <!-- Sección Sobre Nosotros -->
            <div class="col-md-3">
                <h5 class="fw-bold">Sobre nosotros</h5>
                <ul class="list-unstyled">

                    <li><i class="bi bi-wrench-adjustable text-primary"></i> Nosotros</li>
                    <li><i class="bi bi-wrench-adjustable text-primary"></i> Oportunidades Laborales</a></li>
                </ul>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="~/images/zz.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">MENCON.SRL</h5>
                    <p class="card-text">La historia de MenCon.SRL es la de una tienda de computadoras que ha evolucionado para convertirse en un referente en tecnología en su comunidad. </p>
                    
                </div>
            </div>

            

            
        </div>

        <hr class="my-4">

        <!-- Sección de iconos sociales y métodos de pago -->
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span>Síguenos:</span>
                <a href="#" class="text-dark mx-2"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-dark mx-2"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-dark mx-2"><i class="bi bi-linkedin"></i></a>


            </div>
           
        </div>
    </div>
</footer>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap5.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/VentaDeComputadoras.styles.css" asp-append-version="true" />